$background : rgba(28,16,0,.6);
$button : rgba(160,8,6,.4);
$text : rgb(43,16,2);
$header : rgb(190,40,20);


body {
  text-align: center;
  padding-bottom: 20px;
  background-image: url(../../resources/img/background.jpg);
  background-size:cover;
  background-attachment: fixed;
  background-position: 60% 0%;
  .jumbotron {
    background-color: $background;
    text-shadow: 0px 2px 2px rgba(173, 95, 17, 0.65);
    color: $header;
  }
  .btn {
    background-color: $button;
    text-shadow: 0px 1px 2px rgba(173, 95, 17, 0.65);
  }
  color: $text;
}

@media screen and (max-width: 767px) {
  .table-responsive > .table > tbody > tr > td {
    white-space: normal;
  }
}
